{% extends 'base.html' %}
{%block content%}
<div class="container glass-layout">
    <div class="list-menu">
        <h1 class='text-center font-weight-bold'>Cocktails</h1>
        <a class="btn btn-primary bg-secondary" href="{% url 'drinks:add_cocktail' %}">Add</a>
    </div>
</div>
<div class="container glass-layout grid-wrap">
        {% for cocktail in cocktail_list %}
            <div class="card mb-3 card-cocktail" style="max-width: 540px;">
                <div class="row g-0 card-img-custom">
                <div class="col-md-4 card-img-custom2">
                    <img src="{{ cocktail.image.url }}" class="img-fluid rounded-start" alt="image is drunk" width="100%">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{cocktail.name}}</h5>
                    <p class="card-text">{{cocktail.recepie}}</p>
                    <p class="card-text"><small class="text-muted">
                        {% for ingredient in cocktail.main_ingredients.all %}
                            {{ingredient}}
                        {% endfor %} <br>
                    <a href='/drinks/cocktail/{{cocktail.id}}' class="card-link">Show more</a>
                    </small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
</div>
{%endblock%}