{% extends 'base.html' %}
{%block content%}
<div class="container">
    <h1>Cocktails</h1>
    <div>
        <!-- <a href="{% url 'drinks:home' %}">Go to homepage</a><br> -->
        <a href="{% url 'drinks:add_cocktail' %}"> Add</a><br>
    </div>
    <div>
        {% for cocktail in cocktail_list %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ cocktail.image.url }}" class="img-fluid rounded-start" alt="image is drunk">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{cocktail.name}}</h5>
                    <p class="card-text">{{cocktail.recepie}}</p>
                    <p class="card-text"><small class="text-muted">
                        {% for ingredient in cocktail.main_ingredients.all %}
                            {{ingredient}}
                        {% endfor %} <br>
                    <a href='/drinks/cocktail/{{cocktail.id}}' class="card-link">Show more</a>
                    </small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        <!-- Old list view -->
        <!-- <table>
            
            {% for cocktail in cocktail_list %}
            <tr>
                <td><a href='/drinks/cocktail/{{cocktail.id}}'>{{cocktail.name}} </a></td>
                 <td><p>&nbsp;</p></td>
                <td><a href='/drinks/remove_cocktail/{{cocktail.id}}'>delete</a></td>
            </tr>
            {% endfor %}           
        </table> -->
    </div>
</div>
{%endblock%}