{% extends 'base.html' %}
{% block title %}CookTail - Add tools{% endblock title %}
{%block content%}
<div class="container glass-layout centered">
    <h1 class="text-light">Add new tools and tableware to the list</h1>
    <form method="POST"> {% csrf_token %}
        <div class="form-group">
            <table class="mx-auto">
                {{ form.as_table }}
            </table>
        </div>
        
        <input class="btn btn-success mt-1" type="submit" value="Create">
    </form>
</div>


{%endblock%}