{% extends 'base.html' %}
{% block content %}
<div class="container glass-layout">
    <h1>usertools</h1>
    <form method="POST">
        {% csrf_token %}
        {{form_tools}}
        <input type="submit">
    </form>
    <ul>
        {% for item in usertools_list %}
            <li>{{item.user_inventory}}
                <form method="POST" action="{% url 'drinks:tool_delete' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="DELETE">
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}