{% extends 'forum/base.html' %}
{% block title %}Create post{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container glass-layout">
    <div class="card">
        <div class="card-header">{{object.author}} | {{object.created_at}}</div>
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text">{{object.content}}</p>
        </div>
        <div class="card-footer">
            {% if user == object.author %}
                <div class="btn-group">
                    <form method="POST" class="nomargin">
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit" name="post-id" value="{{post.id}}">Delete</button>
                </div>
            {% endif %}
        </div>   
    </div>   
</div>   

<div class="container glass-layout">
    <div class="container-fluid">
        
        <div id="comments_section">
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label style="width:max-content" for="{{ form.body.id_for_label }}">{{ comment_form | crispy}}</label>   
                    <button class="btn btn-secondary" type="submit">Add comment</button>
                </div>
            </form>
            {% else %}
                <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
            {% endif %}

            {% if comments %}
            <strong class="text-secondary">{{ object.num_of_comments }} comment{{ object.num_of_comments|pluralize }}:</strong>
            <hr>
            <ul>
                {% for comment in comments %}
                    <li>           
                        <div>
                            <span>
                                <strong class="">{{ comment.comment_author }} </strong>
                                <small class="text-muted">{{ comment.create_date }}</small>
                            </span>
                            <p>{{ comment.body|safe }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
                {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
                {% endif %}
        </div> 

    </div>
</div>
{% endblock content %}