{% extends 'base.html' %}
{% block title %}{{object.title}}{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container glass-layout">
    <div class="card">
        <div class="card-header">
            <a style="text-decoration: blue;" href="{% url 'profile' object.author %}">
                <img class="rounded-circle" style="width: 50px; height: 40px;" src="{{object.author.image.url}}"> {{object.author}} | {{object.created_at | date:"F d, Y" }} at {{object.created_at | date:"H:i" }}
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{object.title}}</h5>
            <p class="card-text">{{object.content|safe}}</p>
        </div>
            {% if user == object.author %}
                <div class="card-footer">
                    <span>
                        <div class="btn-group">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" style="height: 30;" href="{% url 'forum:update-post' object.id %}">Update</a>
                            <form class="mt-1" action="{% url 'forum:delete-post' object.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm " style="height: 30">Delete</button>
                            </form>
                        </div>
                    </span>
                </div> 
            {% endif %}
    </div>   
</div>   


<div class="container glass-layout">
    <div class="container-fluid">
        
        <div id="comments_section">
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form.as_p }}
                    {{ comment_form.media }}
                    <button class="btn btn-secondary" type="submit">Add comment</button>
                </div>
            </form>
            {% else %}
                <a class="btn btn-secondary" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>  {% comment "HOW TO REDIRECT TO LOGIN PAGE!" %}{% endcomment %}
            {% endif %}

            {% if comments %}
            <strong class="text-secondary">{{ object.num_of_comments }} comment{{ object.num_of_comments|pluralize }}:</strong>
            <hr>
            <ul>
                
                {% for comment in comments %}
                    <li>           
                        <div>
                            <span>
                                <img class="rounded-circle" style="width: 45px; height: 40px;" src="{{comment.comment_author.image.url}}"><strong class=""> {{ comment.comment_author }} </strong>
                                <small> | {{ comment.post_date | date:"F d, P, Y" }}</small>
                                {% if comment.comment_author.id == user.id %}
                                    <div class="btn-group mt-2">
                                        <a style="text-decoration: none;" href="{% url 'forum:update-comment' comment.id %}">✏</a>
                                            <form action="{% url 'forum:delete-comment' comment.id %}" method="post">
                                                {% csrf_token %}
                                                <input style="background: transparent; border: none;" 
                                                type="submit" value="❌">
                                            </form>
                                        </small>
                                    </div>
                                {% endif %}
                            </span>
                            <p class="mt-2">{{ comment.body|safe }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
                {% else %}
                    <strong class="text-secondary">No comments yet...</strong>
            {% endif %}
        </div> 

    </div>
</div>
{% endblock content %}